.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid var(--primary-color); */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title,
.partner {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-family: 'Lato Bold', Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

.nav {
  display: flex;
  gap: 2rem;
}

.navLinks {
  font-size: 1rem;
  font-family: 'Lato Bold', Arial, Helvetica, sans-serif;
  color: var(--black);
  border-bottom: 2px solid transparent;
}

.navLinks:hover {
  border-color: var(--primary-color);
}
