.loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  flex-direction: column;
  gap: 1rem;
}

.label {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.loader {
  width: 40px;
  height: 98px;
  display: inline-block;
  position: relative;
  border: 2px solid #fff;
  box-sizing: border-box;
  /* color: rgba(255, 61, 0, 0.9); */
  color: var(--primary-color);
  border-radius: 20px 20px 4px 4px;
  background: #fff;
  animation: fill 2s linear infinite alternate;
  background-color: rgba();
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -95%);
  border: 2px solid #fff;
  border-bottom: none;
  background: #fff;
  width: 15px;
  height: 35px;
  animation: fillNeck 2s linear infinite alternate;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  50%,
  100% {
    box-shadow: 0 -98px inset;
  }
}

@keyframes fillNeck {
  0%,
  50% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -20px inset;
  }
}
