.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titleOption {
  margin: 0px;
  padding: 4px 0;
  text-align: center;
  letter-spacing: 9px;
  font-family: 'Lato Bold', Arial, Helvetica, sans-serif;
}

.rectangleLeft, .rectangleRight {
  width: 45px;
  background-color: var(--brown);
} 

.ul {
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.li {
  width: 100%;
  font-family: 'Lato Regular', Arial, Helvetica, sans-serif;
  display: flex;
}

.option {
  width: 100%;
  display: flex;
  justify-content: space-between;
}