.title {
  color: var(--primary-color);
  font-family: 'Lato Regular';
}

.offersContainer {
  width: 100%;
  max-width: 1200px;
  margin: 50px 0;
}

.listOfOffers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  margin-top: 47px;
  z-index: 1;
  place-items: center;
}
