.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo,
.follow {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-family: 'Lato Bold', Arial, Helvetica, sans-serif;
  color: var(--white);
}

.socialMediaContainer {
  width: 40%;
}

.follow {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.ul {
  display: flex;
  padding: 0;
  gap: 1.3rem;
}

.li {
  display: flex;
}

.image {
  filter: invert(99%) sepia(17%) saturate(213%) hue-rotate(281deg) brightness(113%) contrast(90%);
}
