.header {
  width: 100%;
  padding: 2rem 0 2rem;
  background-color: var(--brown);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white-light);
  padding: 3rem 0;
}
